.card-wrapper {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}


.timer-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.timer-label span{
    font-size: 40px;
    font-weight: 600;
}

.second {
    font-size: 12px !important;
    font-weight: 200 !important;
}

.cards {
    display: flex;
    /* justify-content: center; */
}