.parameter-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.typing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem;
}