.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top:10rem;
  width: 1300px;
}

.wrapper {
  width: 100%;
}

.header {
  text-align: center;
}
.header p {
  margin: 0;
  font-size: 20px;
}
.header h1 {
  margin-top: 4px;
  font-size: 60px;
  font-weight: 800;
}

@media only screen and (max-width: 1300px) {
  .main {
    width: 100%
  }
}